@import 'mixins';
@import 'variables';
.dp-try {
	color: #000;
	margin: auto;
	max-width: 400px;
	.dp-try-output {
		@include border-radius(10px);
		margin-top: 4px;
		text-align: left;
		max-width: 400px;
		padding: 10px;
		border-color: $color2;
	}
	.dp-try-code {
		@include border-radius(10px);
		background: #FFF;
		margin-bottom: 4px;
		padding: 5px;
		border: 1px solid $color1-3;
	}
	.dp-try-editor {
		@include border-radius(10px);
		margin-bottom: 4px;
		text-align: left;
		color: #fff;
		padding: 5px;
	}
	button {
		border-color: $color2;
		margin-right: 3px;
	}
}

.code {
	@include border-radius(10px);
	margin: auto;
	background: #FFF;
	margin-top: 4px;
	max-width: 330px;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	color: #111;
}

.code-box {
	@include border-radius(10px);
	margin: auto;
	background: $color2;
	margin-top: 0px;
	margin-bottom: 4px;
	max-width: 400px;
	text-align: center;
	padding: 10px;
	color: #FFF;
	text-align: left;
	font-family: $code-font;
	font-size: 11px;
}
