@import 'mixins';
@import 'variables';
.dp-try {
	color: #000;
	margin: auto;
	max-width: 400px;
	.dp-try-output {
		@include border-radius(10px);
		margin-top: 4px;
		text-align: left;
		max-width: 400px;
	}
	.dp-try-code {
		@include border-radius(10px);
		background: #FFF;
		margin-bottom: 4px;
	}
	.dp-try-editor {
		@include border-radius(10px);
		margin-bottom: 4px;
		text-align: left;
		padding-left: 10px;
		color: #fff;
	}
}

.code {
	@include border-radius(10px);
	margin: auto;
	background: #FFF;
	margin-top: 4px;
	max-width: 330px;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	color: #111;
}

.code-box {
	@include border-radius(10px);
	margin: auto;
	background: $color2;
	margin-top: 4px;
	max-width: 400px;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	color: #FFF;
}
