$block-font: 'Source Sans Pro',
sans-serif;
/*'Open Sans', sans-serif;*/

$logo-font: 'Lobster',
cursive;
/*________________________ colors */

$color1: #64CCE6;
/* blue */

$color1-2: #CBF3FF;
$color2: #393532;
/* brown */

$color3: #FFF;
$color4: #111;
/* almost black grey */
